<h4 class="text-center text-white-50 font-weight-bold">Last Exchanges</h4>
<div class="table-responsive border border-info">
    <table class="table">
        <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Message</th>
            <th class="text-right">Sent at</th>
        </tr>
        </thead>
        <tbody>
            {% for exchange in exchanges|slice:"3" %}
                <tr>
                    <td class="font-weight-light"> {{ exchange.from_email }}</td>
                    <td class="font-weight-light">{{ exchange.to_email }}</td>
                    <td><a
                           href="{% url 'clients:detail-exchange' exchange.id %}">{{ exchange.message|truncatechars:"30" }}</a>
                    </td>
                    <td class="font-weight-light">{{ exchange.sent_date }}</td>
                </tr>
            {% endfor %}
            {% if exchanges.count > 3 %}
                <a class="float-right"
                   href="{% url 'clients:list-exchange' %}?client={{ client }}&email={{ email }}">View
                    all exchanges({{ exchanges.count }})</a>
            {% endif %}
        </tbody>
    </table>
</div>