{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Exchange Details
{% endblock %}
{% block dashboard_title %}
    Exchange Details
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Exchange from <span class="text-success"> {{ exchange.get_from_type_display }}</span>
                to <span class="text-success">{{ exchange.get_to_type_display }}</span></h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <div class="col-sm-4">
                    <dt class="text-white-50">From</dt>
                    <dd class="">{{ exchange.get_from }}</dd>
                </div>
                <div class="col-sm-4">
                    <dt class="text-white-50">To</dt>
                    <dd class="">{{ exchange.get_to }}</dd>
                </div>
                <div class="col-sm-4">
                    <dt class="text-white-50">Sent at</dt>
                    <dd class="">{{ exchange.sent_date }}</dd>
                </div>
                <div class="col-sm-12">
                    <dt class="text-white-50">Message</dt>
                    <dd class="">{{ exchange.message }}</dd>
                </div>
            </dl>
        </div>
    </div>
{% endblock %}