{% extends 'layout/base.html' %}
{% block title %}
    Home: welcome to GemoCrm
{% endblock %}
{% block dashboard_title %}
    Home
{% endblock %}
{% block content %}
    <h2 class="text-center">Teams</h2>
    <div class="row">
        <div class="col-sm-6">
            <h4 class="text-white">Talent Acquisition (<span class="text-primary">{{ talent_acquisitions.count }}</span>)
            </h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-white-50">First Name</th>
                        <th class="text-white-50">Last Name</th>
                        <th class="text-white-50 text-right">Exchanges</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for talent_acquisition in talent_acquisitions %}
                            <tr>
                                <td class="font-weight-light">{{ talent_acquisition.first_name }}</td>
                                <td class="font-weight-light">{{ talent_acquisition.last_name }}</td>
                                <td class="text-right text-info">
                                    {% if talent_acquisition.touch_point > 0 %}
                                        <a class="text-info"
                                           href="{% url 'clients:list-exchange' %}?email={{ talent_acquisition.email }}">{{ talent_acquisition.touch_point }}</a>
                                    {% else %}
                                        {{ talent_acquisition.touch_point }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <h4 class="text-white">Sales (<span class="text-primary">{{ sales.count }}</span>)</h4>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-white-50">First Name</th>
                        <th class="text-white-50">Last Name</th>
                        <th class="text-white-50 text-right">Exchanges</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for sale in sales %}
                            <tr>
                                <td class="font-weight-light">{{ sale.first_name }}</td>
                                <td class="font-weight-light">{{ sale.last_name }}</td>
                                <td class="text-right text-info">
                                    {% if sale.touch_point > 0 %}
                                        <a class="text-info"
                                           href="{% url 'clients:list-exchange' %}?email={{ sale.email }}">{{ sale.touch_point }}</a>
                                    {% else %}
                                        {{ sale.touch_point }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}
