{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Profile Update
{% endblock %}
{% block dashboard_title %}
    {{ user.email }} Profile
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">User Profile</h5>
                </div>
                <div class="card-body">
                    {% if profile_updated == 'updated' %}
                        <div class="alert alert-success text-center">Profile updated</div>
                    {% endif %}
                    <form method="post" action="{% url 'update-profile' user.id %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-5 pr-md-1">
                                <div class="form-group">
                                    <label>First Name</label>
                                    {% render_field form.first_name class="form-control" %}
                                    {% for error in form.first_name.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-3 px-md-1">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    {% render_field form.last_name class="form-control" %}
                                    {% for error in form.last_name.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-4 pl-md-1">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    {% render_field form.email class="form-control" %}
                                    {% for error in form.email.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 pr-md-1">
                                <div class="form-group">
                                    <label>Password</label>
                                    {% render_field form.password class="form-control" %}
                                    {% for error in form.password.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-md-4 px-md-1">
                                <div class="form-group">
                                    <label>Repeat Password</label>
                                    {% render_field form.repeat_password class="form-control" %}
                                    {% for error in form.repeat_password.errors %}
                                        <div class="text-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-fill btn-primary">Save</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}