{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Job Application: Details
{% endblock %}
{% block dashboard_title %}
    Job Application Details
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Job Application Details #{{ job_application.external_id }}</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <div class="col-sm-4">
                    <dt class="text-white-50">Application ID</dt>
                    <dd class="">{{ job_application.external_id }}</dd>
                </div>
                <div class="col-sm-4">
                    <dt class="text-white-50">Hacker</dt>
                    <dd class="">
                        <a href="{% url 'clients:detail-hacker' job_application.hacker.id %}">#{{ job_application.hacker }}</a>
                    </dd>
                </div>
                <div class="col-sm-4">
                    <dt class="text-white-50">Status</dt>
                    <dd class="">{{ job_application.status|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-4">
                    <dt class="text-white-50">Applied at</dt>
                    <dd class="">{{ job_application.applied_at|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-4">
                    <dt class="text-white-50">Rejected at</dt>
                    <dd class="">{{ job_application.rejected_at|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-4">
                    <dt class="text-white-50">Rejected Reasons</dt>
                    <dd class="">{{ job_application.rejection_reason|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-4">
                    <dt class="text-white-50">Source</dt>
                    <dd class="">{{ job_application.source|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-4">
                    <dt class="text-white-50">Position</dt>
                    <dd class="">
                        {% for position in job_application.positions.all %}
                            {% ifchanged %}
                                <a href="{% url 'clients:detail-job-position' position.id %}">#{{ position.external_id }}</a>
                                {% if not forloop.last %}
                                    <span class="text-warning">-</span>
                                {% endif %}
                            {% endifchanged %}
                        {% endfor %}
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    </div>
{% endblock %}