{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Job Position: Details
{% endblock %}
{% block dashboard_title %}
    Job Position Details
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Job Position Details #{{ job_position.external_id }}</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 text-info">Postion ID</dt>
                <dd class="col-sm-9">{{ job_position.external_id }}</dd>
                <dt class="col-sm-3 text-info">Name</dt>
                <dd class="col-sm-9">{{ job_position.name }}</dd>
                <dt class="col-sm-3 text-info">Number of Applications</dt>
                <dd class="col-sm-9">
                    <a class="text-primary" href="{% url 'clients:list-job-application' %}?position={{ job_position.id }}">{{ job_position.job_applications.count }}</a>
                </dd>
                <dt class="col-sm-3 text-info">Number of Hackers Applied</dt>
                <dd class="col-sm-9">
                    <a class="text-warning"
                       href="{% url 'clients:list-hacker' %}?position={{ job_position.id }}">{{ hackers_applied_count }}</a>
                </dd>
            </dl>
        </div>
    </div>
    </div>
{% endblock %}