{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Job Position: Details
{% endblock %}
{% block dashboard_title %}
    Job Position Details
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Job Position Details #{{ job_position.external_id }}</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <div class="col-sm-6">
                    <dt class="text-white-50">Position ID</dt>
                    <dd class="">{{ job_position.external_id }}</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="text-white-50">Name</dt>
                    <dd class="">{{ job_position.name }}</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="text-white-50">Number of Application</dt>
                    <dd class="">
                        <a class=""
                           href="{% url 'clients:list-job-application' %}?position={{ job_position.id }}">{{ job_position.job_applications.count }}</a>
                    </dd>
                </div>
                <div class="col-sm-6">
                    <dt class="text-white-50">Number of Hackers Applied</dt>
                    <dd class="">
                        <a class=""
                           href="{% url 'clients:list-hacker' %}?position={{ job_position.id }}">{{ hackers_applied_count }}</a>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
    </div>
{% endblock %}