{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Job application: List of job_applications
{% endblock %}
{% block dashboard_title %}
    Job applications list
{% endblock %}
{% block content %}
    {% if position %}
        <h2 class="text-center text-warning">Applications List of Job position
            <a href="{% url 'clients:detail-job-position' position.id %}">#{{ position.external_id }}</a>
        </h2>
    {% else %}
        <h2 class="text-center text-warning">Applications List</h2>
    {% endif %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th>ID</th>
                <th>Applicant</th>
                <th>Status</th>
                <th>Position Ids</th>
                <th class="text-center">Rejected Reason</th>
                <th class="text-center">Applied at</th>
                <th class="text-center">Rejected At</th>
                <th>Source</th>
            </tr>
            </thead>
            <tbody>
                {% for job_application in job_applications %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>{{ job_application.external_id }}</td>
                        <td>
                            <a href="{% url 'clients:detail-hacker' job_application.hacker.id %}">#{{ job_application.hacker }}</a>
                        </td>
                        <td>{{ job_application.status }}</td>
                        <td>
                            {% for position in job_application.positions.all %}
                                <a href="{% url 'clients:detail-job-position' position.id %}">#{{ position.external_id }}</a>
                            {% endfor %}
                        </td>
                        <td class="td-actions">{{ job_application.rejection_reason|default:"" }}</td>
                        <td class="td-actions">{{ job_application.applied_at }}</td>
                        <td class="td-actions">{{ job_application.rejected_at }}</td>
                        <td>{{ job_application.source|default:"" }}</td>
                        <td class="td-actions text-right">
                            <button onclick="location.href='{% url 'clients:detail-job-application' job_application.id %}'"
                                    type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon">
                                <i class="tim-icons icon-single-02"></i>
                            </button>
                            <button
                                    type="button"
                                    rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon">
                                <i class="tim-icons icon-settings"></i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            {% include "layout/_pagination.html" %}
        {% endif %}
    </div>
{% endblock %}