{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Job position: List of job_positions
{% endblock %}
{% block dashboard_title %}
    Job positions list
{% endblock %}
{% block content %}
    <div class="table-responsive">

        <table class="table">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Id</th>
                <th>Name</th>
                <th>Number of Applicants</th>
                <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for job_position in job_positions %}
                    <tr>
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td>{{ job_position.external_id }}</td>
                        <td>{{ job_position.name }}</td>
                        <td>{{ job_position.job_applications.count }}</td>
                        <td class="td-actions text-right">
                            <button onclick="location.href='{% url 'clients:detail-job-position' job_position.id %}'"
                                    type="button" rel="tooltip" class="btn btn-info btn-sm btn-round btn-icon">
                                <i class="tim-icons icon-wallet-43"></i>
                            </button>
                            <button
                                    type="button"
                                    rel="tooltip" class="btn btn-success btn-sm btn-round btn-icon">
                                <i class="tim-icons icon-settings"></i>
                            </button>
                            <button type="button" rel="tooltip" class="btn btn-danger btn-sm btn-round btn-icon">
                                <i class="tim-icons icon-simple-remove"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if is_paginated %}
            {% include "layout/_pagination.html" %}
        {% endif %}
    </div>
{% endblock %}