{% load widget_tweaks %}

<form method="post" action="{{ form_url }}">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-5 pr-md-1">
            <div class="form-group">
                <label>Name</label>
                {% render_field form.name class="form-control" %}
                {% for error in form.name.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 pl-md-1">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                {% render_field form.email class="form-control" %}
                {% for error in form.email.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Address</label>
                {% render_field form.address class="form-control" %}
                {% for error in form.address.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 pr-md-1">
            <div class="form-group">
                <label>City</label>
                {% render_field form.city class="form-control" %}
                {% for error in form.city.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 px-md-1">
            <div class="form-group">
                <label>Country</label>
                {% render_field form.country class="form-control" %}
                {% for error in form.country.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 pl-md-1">
            <div class="form-group">
                <label>Postal Code</label>
                {% render_field form.postal_code class="form-control" %}
                {% for error in form.postal_code.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Kind of startup</label>
                {% render_field form.kind class="form-control" %}
                {% for error in form.kind.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>About The Startup</label>
                {% render_field form.about class="form-control" %}
                {% for error in form.about.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-fill btn-primary">Save</button>
    </div>
</form>