{% extends 'layout/base.html' %}
{% block title %}
    Startup: Create startup profile
{% endblock %}
{% block dashboard_title %}
    Create Startup
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Create Startup Profile</h5>
                </div>
                <div class="card-body">
                    {% url 'clients:create-startup' as form_url %}
                    {% include 'clients/startups/_form_create_update_startup.html' with form_url=form_url %}
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>

                    <p class="description">
                        Creation of Startup
                    </p>
                </div>
                </p>
                <div class="card-description">
                    A Startup have many Hackers. They are really important to our organization.
                </div>
            </div>
        </div>
    </div>
{% endblock %}