{% extends 'layout/base.html' %}
{% load widget_tweaks client_extras %}
{% block title %}
    Startup: Startup Details
{% endblock %}
{% block dashboard_title %}
    Startup Details
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title font-weight-bold">Startup Details #{{ startup.name|cut:" " }}</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <div class="col-sm-4">
                    <dt class="text-white-50">Name</dt>
                    <dd class="font-weight-bolder">{{ startup.name }}</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="text-white-50">Email</dt>
                    <dd class="font-weight-bolder">{{ startup.email }}</dd>
                </div>
                <div class="col-sm-2">
                    <dt class="text-white-50">Status</dt>
                    <dd class="">{{ startup.get_kind_display|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-4">
                    <dt class="text-white-50">City</dt>
                    <dd class="">{{ startup.city|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-4">
                    <dt class="text-white-50">Country</dt>
                    <dd class="">{{ startup.country|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-4">
                    <dt class="text-white-50">Postal Code</dt>
                    <dd class="">{{ startup.postal_code|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="text-white-50">Address</dt>
                    <dd class="">{{ startup.address|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-12">
                    <dt class="text-white-50">Hackers</dt>
                    <dd class="">
                        {% for hacker in startup.hackers.all %}
                            <a href="{{ hacker.get_absolute_url }}">#{{ hacker }}</a>
                        {% endfor %}
                    </dd>
                </div>
                <div class="col-sm-6">
                    <dt class="text-white-50">Exchanges</dt>
                    {% exchanges_team_members_details startup.email as exchanges_grouped %}

                    <dd class="">
                        {% for e_grouped_key, e_grouped_val in exchanges_grouped.items %}
                            {% if e_grouped_val.count > 0 %}
                                <a href="{% url 'clients:list-exchange' %}?client=startup&email={{ startup.email }}&email-member={{ e_grouped_key }}"
                                >{{ e_grouped_val.name }} =>
                                    {{ e_grouped_val.count }}
                                </a>
                                {% if not forloop.last %}
                                    <span class="text-warning">-</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </dd>
                </div>
                <div class="col-sm-12">
                    <button onclick="location.href='{% url 'clients:update-startup' startup.id %}'"
                            class="btn btn-sm btn-round btn-info animation-on-hove pull-right" type="button">Update
                    </button>
                </div>
            </dl>
        </div>
    </div>
    {% include 'clients/exchanges/_limited_exhanges_table.html' with client="startup" email=startup.email %}
{% endblock %}