{% extends 'layout/base.html' %}
{% block title %}
    Hacker: Update Startup
{% endblock %}
{% block dashboard_title %}
    Startup update
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Edit Startup Profile</h5>
                </div>
                <div class="card-body">
                    {% url 'clients:update-startup' form.instance.id as form_url %}
                    {% include 'clients/startups/_form_create_update_startup.html' with form_url=form_url %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}