{% extends 'layout/base.html' %}
{% block title %}
    Hacker: View details
{% endblock %}
{% block dashboard_title %}
    Create Hacker
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Create Hacker Profile</h5>
                </div>
                <div class="card-body">
                    {% url 'clients:create-hacker' as create_url %}
                    {% include 'clients/hackers/_form_create_update_hacker.html' with form_url=create_url %}
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-user">
                <div class="card-body">
                    <p class="card-text">
                        <div class="author">
                            <div class="block block-one"></div>
                            <div class="block block-two"></div>
                            <div class="block block-three"></div>
                            <div class="block block-four"></div>

                    <p class="description">
                        Creation of Hacker
                    </p>
                </div>
                </p>
                <div class="card-description">
                    Hackers are intended to work for us. They are really important to our organization.
                </div>
            </div>
        </div>
    </div>
{% endblock %}