{% extends 'layout/base.html' %}
{% load widget_tweaks client_extras %}
{% block title %}
    Hacker: Details
{% endblock %}
{% block dashboard_title %}
    Hacker Details
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title font-weight-bold">Hacker Details #{{ hacker }}</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <div class="col-sm-6">
                    <dt class="text-white-50">First Name</dt>
                    <dd class="font-weight-bolder">{{ hacker.first_name }}</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="text-white-50">Last Name</dt>
                    <dd class="font-weight-bolder">{{ hacker.last_name }}</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="text-white-50">Email</dt>
                    <dd class="font-weight-bolder">{{ hacker.email }}</dd>
                </div>
                <div class="col-sm-3">
                    <dt class="text-white-50">City</dt>
                    <dd class="">{{ hacker.city|default:"" }}</dd>
                </div>
                <div class="col-sm-3">
                    <dt class="text-white-50">Country</dt>
                    <dd class="">{{ hacker.country }}</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="text-white-50">Address</dt>
                    <dd class="">{{ hacker.address|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="text-white-50">Postal Code</dt>
                    <dd class="">{{ hacker.postal_code|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="text-white-50">Fit status</dt>
                    <dd class="">{{ hacker.get_fit_display|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-6">
                    <dt class="text-white-50">Startup</dt>
                    <dd class="">
                        {% if hacker.startup %}
                            <a href="{{ hacker.startup.get_absolute_url }}">#{{ hacker.startup.name|cut:" " }}</a>
                        {% endif %}
                    </dd>
                </div>
                <div class="col-sm-12">
                    <dt class="text-white-50">About</dt>
                    <dd class="">{{ hacker.about|default:"&nbsp;" }}</dd>
                </div>
                <div class="col-sm-12">
                    <dt class="text-white-50">Exchanges
                        {% exchanges_team_members_details hacker.email as exchanges_grouped %}
                    <dd class="">
                        {% for e_grouped_key, e_grouped_val in exchanges_grouped.items %}
                            {% if e_grouped_val.count > 0 %}
                                <a href="{% url 'clients:list-exchange' %}?client=hacker&email={{ hacker.email }}&email-member={{ e_grouped_key }}"
                                   class="">{{ e_grouped_val.name }} =>
                                    {{ e_grouped_val.count }}
                                </a>
                                {% if not forloop.last %}
                                    <span class="text-warning">-</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </dd>
                </div>
                <div class="col-sm-12">
                    <button onclick="location.href='{% url 'clients:update-hacker' hacker.id %}'"
                            class="btn btn-info btn-round btn-sm animation-on-hover pull-right" type="button">Update
                    </button>
                </div>
            </dl>
        </div>
    </div>
    <h4 class="text-center text-white-50 font-weight-bold">Job Applications Details</h4>
        <div class="table-responsive border border-info">
            <table class="table">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th>Application Id</th>
                    <th>Status</th>
                    <th>Position Ids</th>
                    <th class="text-center">Applied at</th>
                    <th class="text-center">Rejected At</th>
                </tr>
                </thead>
                <tbody>
                    {% for job in hacker.job_applications.all %}
                        <tr>
                            <td class="text-center">{{ forloop.counter }}</td>
                            <td>
                                <a href="{% url 'clients:detail-job-application' job.id %}">#{{ job.external_id }}</a>
                            </td>
                            <td class="font-weight-light"><span class="{{ job.status|status_class }}">{{ job.status }}</span></td>
                            <td>
                                {% for position in job.positions.all %}
                                    <a href="{% url 'clients:detail-job-position' position.id %}">#{{ position.external_id }}</a>
                                {% endfor %}
                            </td>
                            <td class="td-actions font-weight-light">{{ job.applied_at|default:"" }}</td>
                            <td class="td-actions font-weight-light">{{ job.rejected_at|default:"" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        {% include 'clients/exchanges/_limited_exhanges_table.html' with client="hacker" email=hacker.email %}
{% endblock %}