{% extends 'layout/base.html' %}
{% load widget_tweaks client_extras %}
{% block title %}
    Hacker: Details
{% endblock %}
{% block dashboard_title %}
    Hacker Details
{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Hacker Details #{{ hacker.first_name|cut:" " }}{{ hacker.last_name|cut:" " }}</h5>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 text-info">First Name</dt>
                <dd class="col-sm-9">{{ hacker.first_name }}</dd>
                <dt class="col-sm-3 text-info">Last Name</dt>
                <dd class="col-sm-9">{{ hacker.last_name }}</dd>
                <dt class="col-sm-3 text-info">Email</dt>
                <dd class="col-sm-9">{{ hacker.email }}</dd>
                <dt class="col-sm-3 text-info">City</dt>
                <dd class="col-sm-9">{{ hacker.city|default:"" }}</dd>
                <dt class="col-sm-3 text-info">Country</dt>
                <dd class="col-sm-9">{{ hacker.country }}</dd>
                <dt class="col-sm-3 text-info">Address</dt>
                <dd class="col-sm-9">{{ hacker.address|default:"" }}</dd>
                <dt class="col-sm-3 text-info">Postal Code</dt>
                <dd class="col-sm-9">{{ hacker.postal_code|default:"" }}</dd>
                <dt class="col-sm-3 text-info">Fit status</dt>
                <dd class="col-sm-9 text-primary">{{ hacker.get_fit_display|default:"" }}</dd>
                <dt class="col-sm-3 text-info">Startup</dt>
                <dd class="col-sm-9">
                    {% if hacker.startup %}
                        <a href="{{ hacker.startup.get_absolute_url }}">#{{ hacker.startup.name|cut:" " }}</a>
                    {% endif %}
                </dd>
                <dt class="col-sm-3 text-info">About</dt>
                <dd class="col-sm-9">{{ hacker.about|default:"" }}</dd>
                <dt class="col-sm-3 text-info">Exhanges</dt>
                {% exchanges_team_members_details hacker.email as exchanges_grouped %}
                <dd class="col-sm-9">
                    {% for e_grouped_key, e_grouped_val in exchanges_grouped.items %}
                        {% if e_grouped_val.count > 0 %}
                            <a href="{% url 'clients:list-exchange' %}?client=hacker&email={{ hacker.email }}&email-member={{ e_grouped_key }}"
                               class="text-success">{{ e_grouped_val.name }} =>
                                {{ e_grouped_val.count }}
                            </a>
                            {% if not forloop.last %}
                                <span class="text-warning">-</span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                </dd>
            </dl>
            <button onclick="location.href='{% url 'clients:update-hacker' hacker.id %}'"
                    class="btn btn-default animation-on-hover" type="button">Update
            </button>
            <h4 class="text-center text-info">Job Applications Details</h4>
            <div class="table-responsive border border-info">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>Application Id</th>
                        <th>Status</th>
                        <th>Position Ids</th>
                        <th class="text-center">Applied at</th>
                        <th class="text-center">Rejected At</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for job in hacker.job_applications.all %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'clients:detail-job-application' job.id %}">#{{ job.external_id }}</a>
                                </td>
                                <td>{{ job.status }}</td>
                                <td>
                                    {% for position in job.positions.all %}
                                        <a href="{% url 'clients:detail-job-position' position.id %}">#{{ position.external_id }}</a>
                                    {% endfor %}
                                </td>
                                <td class="td-actions">{{ job.applied_at|default:"" }}</td>
                                <td class="td-actions">{{ job.rejected_at|default:"" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            {% include 'clients/exchanges/_limited_exhanges_table.html' with client="hacker" email=hacker.email %}
        </div>
    </div>
{% endblock %}