{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Hacker: List of Hackers
{% endblock %}
{% block dashboard_title %}
    Hacker List
{% endblock %}
{% block content %}
    {% if position %}
        <h2 class="text-center text-warning">Hackers of Job position
            <a href="{% url 'clients:detail-job-position' position.id %}">#{{ position.external_id }}</a>
        </h2>
    {% else %}
        <h2 class="text-center text-warning">Hackers</h2>
    {% endif %}
    {% include 'clients/hackers/_list_hacker_table.html' %}
{% endblock %}