{% extends 'layout/base.html' %}
{% load widget_tweaks %}
{% block title %}
    Hacker: Update Hacker
{% endblock %}
{% block dashboard_title %}
    Update Hacker
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Edit Hacker Profile</h5>
                </div>
                <div class="card-body">
                    {% url 'clients:update-hacker' form.instance.id as create_url %}
                    {% include 'clients/hackers/_form_create_update_hacker.html' with form_url=create_url %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}